html, body {
	margin: 0;
}

html, body, button, input, select, textarea {
	font: 14px tahoma;
}

button, input, select, textarea {
	padding: 2px 4px;
}

.wrapper {
	margin: 0 auto;
	width: 1136px;
}

.table-display {
	display: table;
	height: 35px;
}

.table-display ul {
	display: inline-table;
	height: inherit;
	list-style-type: none;
	margin: 0;
	padding: 0;
	table-layout: fixed;
}

.table-display ul ul {
	display: none;
}

.table-display .right {
	text-align: right;
}

.table-display div,
.table-display nav,
.table-display form,
.table-display li {
	display: table-cell;
	height: inherit;
	vertical-align: middle;
}

.table-display div a,
.table-display li a {
	display: table-cell;
	height: inherit;
	margin: 0;
	padding: 0 10px;
	transition: 0.2s;
	vertical-align: middle;
}

.table-display img {
	vertical-align: middle;
}

#navbar {
	background: #212121;
	border-bottom: 1px solid #505050;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  -ms-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  -o-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	height: 35px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
  z-index: 1;
}

#navbar a {
	color: #E0E0E0;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

#logo {
	width: 200px;
}

#logo img {
	vertical-align: top;
}

#search input {
	font-size: 11px;
	line-height: 17px;
	margin: 0 10px;
	width: 300px;
}