html, body {
	margin: 0;
	padding-top: 24px;
}

html, body, button, input, select, textarea {
	font: 14px tahoma;
}

button, input, select, textarea {
	padding: 2px 4px;
}

td, th {
	text-align: left;
}

td a, th a {
	color: #E0E0E0;
}

th small {
	font-weight: normal;
}

a {
	color: #E0E0E0;
	font-weight: bold;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #fff;
}

a img {
	border: none;
}

.mod-link a {
	color: #E44;
}

.mod-link a:hover,
.mod-link a:focus {
	color: #F88;
}

.super-moderator,
.moderator {
	display: inline-block;
	margin: 2px 0;
	padding-left: 20px;
}

.super-moderator {
	background: url(Icons/SuperMod.png) no-repeat 0 50%;
}

.moderator {
	background: url(Icons/Mod.png) no-repeat 0 50%;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.username {
	font-weight: bold;
}

.flag {
	background: transparent url(Icons/Flags.png) no-repeat;
	display: inline-block;
	height: 14px;
	vertical-align: -2px;
	width: 18px;
}

.flag.jp { background-position: 0px -1980px; }

.game-image,
.game-image a {
	height: 92px;
	line-height: 92px;
	text-align: center;
	vertical-align: middle;
	width: 112px;
}

.game-image img {
	vertical-align: middle;
}

.game-name a {
	color: #A0A0A0;
}

.table-display {
	display: table;
	height: 35px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.table-display ul {
	display: inline-table;
	height: inherit;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	table-layout: fixed;
}

.table-display .right {
	text-align: right;
}

.table-display div,
.table-display nav,
.table-display form,
.table-display li {
	display: table-cell;
	height: inherit;
	text-align: center;
	vertical-align: middle;
}

.table-display div a,
.table-display li a {
	color: #E0E0E0;
	display: block;
	height: inherit;
	line-height: 35px;
	margin: 0;
	padding: 0 10px;
	transition: 0.2s;
	vertical-align: middle;
}

ul.table-display li a {
	border-bottom: 1px dotted #E0E0E0;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

ul.table-display li.separate a,
ul.table-display li.active a {
	background: transparent;
	border: none;
}

ul.table-display li a:hover,
ul.table-display li a:focus {
	background: transparent;
	border-color: #fff;
	color: #fff;
}

.table-display img {
	vertical-align: middle;
}

.nav-button-dropdown ul {
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 5px 5px;
	display: none;
	height: auto;
	max-width: 220px;
	position: absolute;
	top: 100%;
	top: calc(100% + 1px);
	right: 0;
	width: auto;
}

.nav-button-dropdown.active ul {
	display: block;
}

.nav-button-dropdown li {
	display: block;
}

.nav-button-dropdown li > a,
.nav-button-dropdown li > span {
	color: #E0E0E0;
	display: block;
	line-height: 20px;
	padding: 10px;
	text-align: left;
}

.nav-button-dropdown li a small {
	display: block;
	font-weight: normal;
}

.wrapper {
	margin: 0 auto;
	width: 1136px;
}

#navbar {
	background: #212121;
	border-bottom: 1px solid #505050;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  -ms-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  -o-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	height: 35px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
  z-index: 1;
}

#navbar a {
	color: #E0E0E0;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

#logo {
	width: 200px;
}

#logo img {
	vertical-align: bottom;
}

#search input {
	font-size: 11px;
	line-height: 17px;
	margin: 0 10px;
	width: 300px;
}

main {
	display: block;
}

main article,
main nav {
	border: 1px solid #505050;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  -ms-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  -o-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	color: #C0C0C0;
	display: block;
	margin: 10px 0;
	padding: 10px;
}

main nav ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

main nav ul ul {
	padding-left: 10px;
}

main nav ul a {
	display: block;
	line-height: 24px;
	padding: 2px 4px;
}

main ul img {
	margin: 0 4px;
	vertical-align: -3px;
}

main h2 {
	margin: 0;
}

main h3 {
	font-size: 14px;
	margin: 4px 0;
}

main h3 img {
	vertical-align: -2px;
}

main article a {
	font-weight: normal;
}

main .game-list {
	list-style-type: none;
	margin: 4px 0 20px;
	padding: 0;
}

main .game-list:last-child {
	margin-bottom: 4px;
}

main .sidebar-left {
	float: left;
	width: 204px;
}

main .content-right {
	float: right;
	width: 870px;
}

main article#latest-runs {
	float: left;
  width: 792px;
}

main article#latest-tweets {
	float: right;
	height: 610px;
	width: 278px;
}

main nav figure {
	margin: 0 0 14px;
	text-align: center;
}

main nav figure:last-child {
	margin-bottom: 0;
}

main nav figure h3 {
	color: #fff;
}

main nav figure img {
	border: 1px solid #ccc;
	margin: 10px 0;
}

#latest-runs table {
	font-size: 14px;
	margin: 10px 0;
	width: 100%;
}

#latest-runs table a {
	text-decoration: none;
}

#latest-runs .rank {
	text-align: center;
}

#latest-runs .time {
	text-align: right;
}

footer#moderated-by {
	font-size: 12px;
	margin: 14px 0 0;
	text-align: center;
}

footer#moderated-by span {
	color: #A0A0A0;
	display: block;
	margin: 0 0 5px;
}

footer#moderated-by img {
	height: 14px;
	vertical-align: -3px;
}

footer {
	color: #C0C0C0;
	font-size: 12px;
	text-align: center;
}

footer.wrapper {
	margin-top: 20px;
}

footer a {
	color: #E0E0E0;
	text-decoration: none;
}